using System;
using System.Collections.Generic;
using System.Linq;
namespace Zadacha
{
    class Zadacha
    {
        static void Main(string[] args)
        {
            HashSet<char> hs = new HashSet<char>();
            Console.WriteLine("Введите слово :");
            string str = Console.ReadLine(); 
            foreach (char x in str)
            {
                if (char.IsLetter(x))
                    hs.Add(x);
            }
            Console.WriteLine("Количество различных букв = {0}", hs.Count());
            Console.ReadKey();
        }
    }
}
